.container {
	padding: 10px;
	background-color: #373738;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
}
.vinylCase {
	position: relative;
	width: 90px;
	height: 90px;
	z-index: 2;
}
.vinylCoverHome,
.vinylCoverAbout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.6);
}
.vinylCoverAbout {
	box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.6);
}
.vinyl {
	position: absolute;
	z-index: 1;
	bottom: 5px;
	left: 5px;

	width: 80px;
	height: 80px;
	transition: all 1s ease-in-out;
}
.vinylCaseTxt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
	font-weight: 900;
}
.vinylCaseTxt:hover {
	background: rgba(0, 0, 0, 0.2);
}
