/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
body,
html {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
