.container {
	border: 1px solid orange;
	/* height: calc(100vh - 295px); */
	/* display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px; */
}
.trackInfos {
}

.vinylContainer {
	padding: 40px 140px 40px 40px;
	border-radius: 20px;
	background: #373738;
}
.cover {
	border-radius: 50%;
	position: relative;
}
.vinyl {
	position: relative;
}
.vinylArmImg {
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
